// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray: #F4F4F4;
$blue: #66a4eb;
$lightblue: #3F7AB5;
$white: #fcfcfc;
$yellow: #ffffe1;

body {
   background: $gray;
 }

.btn {
  background-color: $blue;
  display: inline-block;
  color: $white;
  border: .5px solid $lightblue;
  border-radius: 5%;
}

h2 {
  background-color: $yellow;
  font-family: roboto;
}
